<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIT Outprocessing Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">AIT Outprocessing Helper</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-item" href="{{ url_for('tracker') }}">Progress Tracker</a>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>AIT Outprocessing Helper</strong> by Jarren Procopio.</p>
        </div>
    </footer>
</body>
</html>
